
<div class="container-fluid">

    <form>
        <label> Source of data: </label>
        <input id="src-test" type="radio" 
               name="data-source" value="test" 
               (change)="getRadioValue($event)">  
        <label for="src-local">Test Data</label>
        <input id="src-server" type="radio" 
               name="data-source" value="server" 
               (change)="getRadioValue($event)">  
        <label for="src-server">Server Data</label>
    </form>
    
    <div class="row">
      <div class="country">
        <form autocomplete="off">
          <label> The Country: </label>
          <div class="search_select_wrapper position-relative">
            <input class="country-input" (keyup)="searchSelect($event, $event.target.value)"
                   name="first_box" type="text" [(ngModel)]="firstBoxValue" />
            <ul *ngIf="firstBoxArr.length > 0">
              <li *ngFor="let item of firstBoxArr;let i = index;" value="item.country" title="first_list"
                  (click)="selectData($event, i)">  
                {{item.country}}
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="average">
        The Average: {{firstAvgValue}}
      </div>
      <div class="horiz-bar">
          <div class="inner_progress" #prog1> 

          </div>
      </div>
    </div>
      
    <div class="row">
      <div class="country">
        <form autocomplete="off">
            <label> The Country: </label>
            <div class="search_select_wrapper position-relative">
              <input class="country-input" (keyup)="searchSelect($event, $event.target.value)"
                     name="second_box" type="text" [(ngModel)]="secondBoxValue" />
              <ul *ngIf="secondBoxArr.length > 0">
                <li *ngFor="let item of secondBoxArr;let i = index;" value="item.country" title="second_list"
                    (click)="selectData($event, i)">  
                  {{item.country}}
                </li>
              </ul>
            </div>
        </form>
      </div>
      <div class="average">
        The Average: {{secondAvgValue}}
      </div>
      <div class="horiz-bar">
          <div class="inner_progress" #prog2> 
            
          </div>
      </div>
    </div>

</div>





